services:
  frontend:
    build:
      context: ./frontend
      target: development
    ports:
      - "4701:4701"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - dev-network

  pocketbase:
    build:
      context: ./pocketbase
      dockerfile: Dockerfile.dev
    container_name: pocketbase-dev
    ports:
      - "8890:8890"
    volumes:
      - ./pocketbase/pb_data:/pb/pb_data
    networks:
      - dev-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-dev
    ports:
      - "8890:80"
    volumes:
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - pocketbase
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge
